.button--cart {
    width: 30px;
    height: 30px;
    text-indent: 9999px;
    border: none;
    margin: 20px;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    right: 0;
}

.amount {
    font-size: 10px;
    position: absolute;
    color: #fff;
    top: 37%;
    left: 53%;
    transform: translate(-50%,-50%);
    display: block;
    width: 100%;
    z-index: 123;
    text-indent: 0;
}
.bump {
    animation: bump 300ms ease-out;
}

@keyframes bump {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    30% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}