.button {
    width: 30px;
    height: 30px;
    text-indent: 9999px;
    border: none;
    margin: 20px;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    right: 0;

    .amount {
        font-size: 10px;
        position: absolute;
        color: #fff;
        top: 37%;
        left: 53%;
        transform: translate(-50%,-50%);
        display: block;
        width: 100%;
        z-index: 123;
        text-indent: 0;
    }
}
