.cart_item {
    display: flex;
    justify-content: space-between;
}

.cart_item .cart_item__details {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.cart_item .cart_item__actions {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.cart_item .cart_item__ammount {
    padding: 0 20px;
}
.cart_item .cart_item__actions button{
    padding:0;
    margin: 0 5px;
    line-height: 30px;
    height: 30px;
    width: 30px;

}