.checkout_form {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-control {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    position: relative;
}

.form-control label{
    padding-bottom: 5px;
    color: #b2b2b2;
    font-size: 14px;
}
.form-control input {
    border: 1px solid #b2b2b2;
    border-radius: 4px;
    line-height: 28px;
}
.form-control.has-error input {
    border-color: #bb1f1f;
}
.form-control .error{
    position: absolute;
    bottom: 0;
    color: #bb1f1f;
    font-size: 12px;
}