.product_teaser {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    padding: 0 20px 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    line-height: 30px;
    position: relative;
    cursor: pointer;
}
.product_teaser a {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.product_teaser:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, .25);
    transition: ease-all .3s;
}

.product_teaser .product_teaser__image {
    width: 100%;
    height: 220px;
    display: block;
    background-image: url('../../assets/product-1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.product_teaser .product_teaser__name,
.product_teaser .product_teaser__description {
    font-size: 18px;
    color: #333333;
}

.product_teaser .product_teaser__price {
    font-size: 18px;
    color: #635347;
    padding-top: 10px;
}

.product_teaser .product_overlay {
    display: none;
}

.product_teaser:hover .product_overlay {
    position: absolute;
    top: 0;
    right: 0;
    /*background-color: rgba(0,0,0,.55);*/
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    cursor: auto;
    z-index: 23456;
}

.product_teaser .product_teaser__button {
    pointer-events: auto;
    cursor: pointer;
    padding: 0;
    height: 30px;
    width: 30px;
    line-height: 1em;
    color: white;
    background: #cdc8c4;
    position: absolute;
    top: 10px;
    right: 10px;
}

.product_teaser form input {
    display: none;
}