@use "./src/styles/scss/breakpoints";

.product {
  display: flex;
  width: 100%;
  padding: 100px 0;

  &__image {
    max-width: 50%;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: contain;
    }
  }

  &__info {
    padding-left: 5rem;
    width: 100%;
    text-align: justify;
  }

  &__name {
    position: relative;
    padding-bottom: 10px;

    &:after {
      content: '';
      position: absolute;
      height: 1px;
      width: 100px;
      background-color: #767676;
      bottom: 0;
      left: 0;
    }
  }

  .actions {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 50px;

    form {
      display: flex;
      align-items: flex-end;

      div {
        margin-right: 20px;

        input {
          border: none;
          border-bottom: 1px solid #767676;
          text-align: center;
          padding-left: 10px;

          &::placeholder {
            text-align: center;
          }
        }
      }
    }
  }

  .price_container {
    display: flex;
    flex-direction: column;

    .product__price {
      margin-bottom: 0;
      font-size: 18px;
      color: #635347;
    }

    .product__SKU {
      font-size: 12px;
      color: #767676;
      line-height: 1em;
    }
  }

  @media (max-width: breakpoints.$tabletBreakpoint) {
    flex-wrap: wrap;
    padding: 100px 20px 0;
    &__image {
      max-width: 100%;
    }
    &__info {
      padding-left: 0;
    }
  }
  @media (max-width: breakpoints.$mediumMobileBreakpoint) {
    &__info {
     text-align: left;
    }
  }
}
