@use "./src/styles/scss/breakpoints";
.footer {
  border-top: 1px solid rgba(124, 124, 124, 0.25);
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;

  &-content {
    width: 100%;
  }

  ul {
    display: flex;
    list-style: none;
    width: 100%;
    li a {
      padding: 0 15px;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
      color: #1d1d1d;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: .7px;
    }
  }

  .col {
    flex-basis: calc(100% / 3);
    display: flex;
  }

  .copyrights p {
    font-size: 12px;
    text-align: center;
    color: rgba(45, 45, 45, 0.25);
    padding-top: 20px;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;

    span {
      padding-right: 30px;
      text-transform: uppercase;
      color: #1d1d1d;
      font-weight: 600;
      font-size: 14px;
    }

    img {
      width: 16px;
      position: relative;
      top: 2px;
    }

  }

  @media (max-width: breakpoints.$tabletBreakpoint) {
    .social-container {
      justify-content: center;
    }
  }

  @media (max-width: breakpoints.$mobileBreakpoint) {
    .footer-content {
      flex-direction: column;
    }
    .col {
      order: 2;
    }
    .logo-container {
      order: 1;
    }
    ul {
      flex-direction: column;
      align-items: center;
    }
  }
}
