/*
    USAGE:
    @media (max-width: $mobileBreakpoint)
*/

$largeDesktop: 1691px;
$desktopBreakpoint: 1200px;
$tabletMediumBreakpoint: 1080px;
$tabletBreakpoint: 991px;
$mobileBreakpoint: 768px;
$mediumMobileBreakpoint: 560px;
$smallMobileBreakpoint: 460px;

$contentContainerWidth: 1400px;
