@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
$h1: 84px;
$h2: 72px;
$h3: 60px;
$h4: 48px;
$h5: 36px;
$h6: 30px;
$p: 18px;
$disclaimer: 12px;