.section_title {
    font-weight: 400;
    letter-spacing: 1.5px;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin: 30px auto 50px;
}

h3.section_title {
    font-size: 38px;
    line-height: 38px;
}

h2.section_title {
    font-size: 45px;
    line-height: 45px;
}

.section_title:after {
    content: '';
    position: absolute;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid #635347;
    width: 195px;
    height: 1px;
}